$primary-color: linear-gradient(45deg, #DECA99, #7C4001);
$second-color: linear-gradient(45deg, #7C4001, #1D1414);
$background-color: #D6C8B8;
$text-color-light: #F1E7D2;
$text-color-dark: #1D1414;
$accent-color: #DECA99;
$color-link: #7C4001;
