.common {
	width: 100%;
	position: relative;
	// z-index: 100;
}

.black {
	background: linear-gradient(45deg, #7C4001, #1D0F01);
	height: 35px;
}

.white {
	background: white;
	height: 100px;
	border: 1px solid #7C4001;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	gap: 24px;
	position: relative;

	@media(max-width:700px) {
		justify-content: flex-end;
	}
}



.burger {
	display: none;
}

.menu {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 24px;
	position: relative;
	right: 50%;
	transform: translateX(50%);
	font-family: "Marck Script", serif;

}

@media(max-width:700px) {
	.burger {
		display: block;
		background: none;
		border: none;
		font-size: 42px;
		cursor: pointer;
	}

	.menu {
		list-style: none;
		display: none;
		margin: 0;
		padding: 20px;
		gap: 24px;
		position: absolute;
		width: 145px;
		right: 0;
		top: 105%;
		transform: translateX(-50%);
		z-index: 100;
		background-color: $text-color-light;
	}

	.menu.open {
		display: flex;
		flex-direction: column;
	}
}

.item {
	@include responsive-font(16, 30, 320, 1920);
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease;
}

.item::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 1px;
	width: 0;
	background-color: black;
	transition: width 0.3s ease, left 0.3s ease;
}

.item:hover {
	color: #444;
}

.item:hover::before {
	width: 100%;
	left: 0;
}
