@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@mixin responsive-font($minFontSize, $maxFontSize, $minWidth, $maxWidth) {
	font-size: clamp(#{$minFontSize}px,
		calc(#{$minFontSize * 1px} + (#{$maxFontSize} - #{$minFontSize}) * (100vw - #{$minWidth}px) / (#{$maxWidth} - #{$minWidth})),
		#{$maxFontSize}px);
}

.main {
	width: 100%;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}
