.content {
	width: 100%;
	height: 100%;
	font-family: "Marck Script", serif;
	font-size: 20px;
	overflow: hidden;
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('./../../public/library.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.textabout {
	text-indent: 20px;
	@include responsive-font(14, 24, 320, 1920);
	line-height: 150%;
	letter-spacing: 0px;
	text-align: justify;
}

.photo {
	position: relative;
	width: 100%;
	max-width: 250px;
}

.contacts {
	font-size: 22px;
	font-weight: 700;

	ul li {
		margin-bottom: 16px;
	}

	a {
		text-decoration: none;
		transition: 0.3s;
		display: inline-block;
	}

	a:hover {
		box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
	}
}

.modalOverlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 200;
	font-size: 22px;
	overflow: auto;
	width: 50%;
	background-color: white;
	z-index: 1000;
	max-height: 80%;


	&::-webkit-scrollbar {
		width: 10px;
		background-color: #f5f5f5;
	}

	&::-webkit-scrollbar-thumb {
		background: linear-gradient(180deg, #d1d1d1, #a6a6a6); // градиент для ползунка
		border-radius: 5px; // округление ползунка
		border: 2px solid #f5f5f5; // зазор между ползунком и краем
	}

	&::-webkit-scrollbar-thumb:hover {
		background: linear-gradient(180deg, #b5b5b5, #909090); // цвет ползунка при наведении
	}

	&::-webkit-scrollbar-track {
		background-color: #ffffff; // Цвет трека (фона под ползунком)
	}

	@media screen and (max-width: 1100px) {
		width: 80%;
		max-height: 80%;
	}
}

.modalContent {
	background: #fff;
	padding: 22px;
	border-radius: 8px;
	text-align: center;
}

.closeButton {
	margin-top: 10px;
	border: none;
	cursor: pointer;
}

.contactLink {
	color: $color-link;
}
