.content {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: url('../public/non.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	font-weight: 400;
	color: white;
}

.text {
	font-size: 36px;
	line-height: 2;
	text-align: center;
	text-shadow: 2px 2px black;
}

.image {
	img {
		object-fit: contain;
	}
}
